@page "/manga"
@using MediaDatabase.Web.Data.Manga
@using MediaDatabase.Web.Services.Interfaces

@inject IEntityService<Manga> MangaService
@inject NavigationManager NavigationManager

<h1>Manga</h1>

@if (manga != null)
{
    <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced"
                AllowPaging="true" PageSize="10" AllowSorting="true" Data="@manga" TItem="Manga">
        <Columns>
            <RadzenGridColumn TItem="Manga" Property="Attributes.PosterImage.Tiny" Title="Image" Sortable="false" Filterable="false">
                <Template Context="manga">
                    <RadzenImage Path="@manga?.Attributes?.PosterImage?.Tiny"/>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Manga" Property="Attributes.CanonicalTitle" Title="Name"/>
            <RadzenGridColumn TItem="Manga">
                <Template Context="manga">
                    <RadzenButton Icon="edit" Click="@(args => View(manga.Attributes.Slug))"/>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}
else
{
    <p>
        <em>Loading...</em>
    </p>
}

@code {
    private IList<Manga> manga;

    protected override async Task OnInitializedAsync()
    {
        manga = await MangaService.Get();
    }

    private void View(string slug)
    {
        NavigationManager.NavigateTo($"/manga/{slug}");
    }

}