@page "/"
@using MediaDatabase.Dashboard.Data.Anime
@using MediaDatabase.Dashboard.Cache
@using MediaDatabase.Dashboard.Cache.Interfaces

<h1>Media Database</h1>

Welcome to your new app.

@code {
    
}